:root {
    /* VAR COLORS */
    --main-bg-color: #004481;
    --secondary-bg-color: #262a31;
    --tertiary-bg-color:#ffffff;
    --emphasis-font-color: #40e0d0;

    

    /* FONT*/
    --font-family: Roboto, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;  
}

/*______INITIAL PRE STYLES___________________*/
html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--tertiary-bg-color);
    font-family: var(--font-family) ;
    box-sizing: border-box;
    overflow-x: hidden;
}
.nav-bar .nav-icon-menu,.footer,
.nav-bar .title, .card-content .card-button {
    color: var(--tertiary-bg-color);
}

a {
    text-decoration: none;
    outline: none;
}
/* ____SHARED STYLES_____ */
.container-nav-bar,.nav-bar, .content-menu, .content-menu a ,.card-container, .card-container .card, .card-container .card ,.footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.card-container,.content-menu, .card-container .card, .card-container .card .card-content, .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.button,.content-menu .item-menu a  ,.card-container .card .card-content h3, .lbl-menu{
    text-align: center;
}

.container-menu, .content-menu, .box-card{
    width: 100%;
}
/*_______________END SHARED STYLES________________________________________*/

/*______BANER________ */
.baner-container {
    max-width: 82%;
    margin: auto;
    display: grid;
    padding-bottom: 3em;
    
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   justify-items: center;
}

.baner .baner-content .baner-span,
.button {
    color: var(--main-bg-color);
}

.img-baner-container{
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
}




/*_________-BUTTON, CARD BUTTON AND MODEL PHOTO_________*/
.button {
    width: 160px;
    padding: 0.7em;
    
    font-size: 1.1em;
    border: 3px solid var(--main-bg-color);
    border-radius: 25px;
}
.card-button {
    background-color: var(--main-bg-color);
}

.model-photo {
    object-fit: cover;
    border-radius: 50%;
    padding: 1em;
    width: 100px;
    height: 100px;
}

/* ___________FOOTER________*/
.footer {
    background-color: var(--secondary-bg-color);
    height: 200px;
}

.footer-copyright{
    color: var(--emphasis-font-color);
}
.footer .photo-author {
    width: 50px;
    height: 50px;
}


/*___________MEDIA QUERIES___________*/

@media screen and (min-width: 750px) {
    .baner, .about-container {
       box-shadow: 0px 5px 5px rgba(0, 68, 129,.5);;
 
    }
    .baner-content{
        justify-self: start;
    }
    .img-container{
        justify-self: end;
    }
    .box-card{
        width: 75%;
    }
  
    
}